<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>{{option "title"}} - {{header}}</title>

	<meta name="description" content="Page Title">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="/assets/css/main.css" rel="stylesheet">
</head>
<body>
	<header class="header">
		<div class="header-content">
			<a href="./" class="brand">
				<img src="/assets/logo.svg">
			</a>

			{{#ifDepth 2}}
				<nav class="breadcrumbs">
					<a href="{{url topReference}}">{{topReference}}</a>
					<a href="{{url reference}}">{{header}}</a>
					<span class="js-breadcrumb">Placeholder</span>
				</nav>
			{{/ifDepth}}

			{{> partial.menu}}
		</div>
	</header>

	<aside class="aside">
		{{> partial.nav}}
	</aside>

	{{#ifDepth 1}}
		{{> partial.section_hero}}
	{{else}}
		{{> partial.section_intro}}

		{{#each children}}
			{{> partial.section}}

			{{#if children}}
				{{#each children}}
					{{> partial.section modifier="sub"}}
				{{/each}}
			{{/if}}
		{{else}}
			{{> partial.section}}
		{{/each}}
	{{/ifDepth}}

	<script type="text/javascript" src="/assets/js/prettify.js"></script>
	<script type="text/javascript" src="/assets/js/iframeResizer.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrapNative.min.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>
