<article class="article">
	<h{{depth}} class="article-title">
		<a href="/{{@key}}">
			<span class="article-number">{{numeric}}</span>
			{{header}}
		</a>
	</h{{depth}}>

	{{#if description}}
		<div class="article-description">
			{{{description}}}
		</div>
	{{/if}}
</article>
