<nav class="nav">
	<ul>
		{{#each (pages 2 topReference)}}
		<li>
			<a href="/{{@key}}">{{header}}</a>
			{{#if children}}
			<ul>
				{{#each children}}
				<li>
					<a href="/{{@../key}}#{{referenceURI}}">{{header}}</a>
				</li>
				{{/each}}
			</ul>
			{{/if}}
		</li>
		{{/each}}
	</ul>
</nav>
