<section id="{{referenceURI}}" class="section section--2">
	<div class="section-aside">
		<h3 class="section-title">
			<span>{{numeric}}</span>
			{{header}}
		</h3>

		{{#if parameters}}
			<ul class="parameters">
				{{#each parameters}}
					{{> partial.parameter}}
				{{/each}}
			</ul>
		{{/if}}

		{{#if description}}
			<div class="section-description">
				{{{description}}}
			</div>
		{{/if}}
	</div>

	<div class="section-content">
		{{!-- {{> (template template)}} --}}
	</div>
</section>

{{#ifTemplate "example"}}
	{{> partial.modifiers}}

	{{#if markup}}
		{{> partial.section_markup}}
	{{/if}}
{{/ifTemplate}}

	{{!-- <div>
		<div class="section-aside">
			<h3 class="section-title">
				<span class="section-number">{{numeric}}</span>
				{{header}}
			</h3>

			{{#if parameters}}
				<ul class="parameters">
					{{#each parameters}}
						{{> partial.parameter}}
					{{/each}}
				</ul>
			{{/if}}

			{{#if description}}
				<div class="section-description">
					{{{description}}}
				</div>
			{{/if}}
		</div>

		{{#if markup}}
			<div class="section-content">
				<iframe src="{{exampleUrl reference 'index'}}" scrolling="no"></iframe>
			</div>
		{{/if}}
	</div>

	{{#each modifiers}}
		<div class="section-sub">
			<div class="section-aside">
				<h4 class="section-subtitle">
					<span>{{name}}</span>
					{{{description}}}
				</h4>
			</div>

			<div class="section-content">
				<iframe src="{{exampleUrl ../reference className}}" scrolling="no"></iframe>
			</div>
		</div>
	{{/each}}

	{{#if children}}
		{{#each children}}
			{{log template}}

			<div class="section-sub">
				<div class="section-aside">
					<h4 class="section-subtitle">
						<span>{{numeric}}</span>
						{{header}}
					</h4>
				</div>

				<div class="section-content">
				</div>
			</div>
		{{/each}}
	{{/if}}

	{{#if markup}}
		<div class="section-markup">
			<div class="section-aside">
				<h4 class="section-subtitle">Markup</h4>
			</div>

			<div class="section-content">
				{{> partial.markup markup=markup lang="html"}}
			</div>
		</div>
	{{/if}} --}}
</section>
