<section id="{{referenceURI}}" data-section="{{header}}" class="section{{#if modifier}} section--{{modifier}}{{/if}}">
	<div class="section-aside">
		<h3 class="section-title{{#if modifier}} section-title--{{modifier}}{{/if}}">
			<span>{{numeric}}</span>
			{{header}}
		</h3>

		<div class="section-description">
			{{#ifTemplate "example"}}
				{{#if markup}}
					{{> partial.icons url=(exampleUrl reference 'index')}}
				{{/if}}

				{{#if parameters}}
					{{> partial.parameters}}
				{{/if}}

				{{#if description}}
					{{{description}}}
				{{/if}}
			{{/ifTemplate}}
		</div>
	</div>

	<div class="section-content">
		{{#ifTemplate "example"}}
			{{#if markup}}
				<iframe src="{{exampleUrl reference 'index'}}#iframe" scrolling="no"></iframe>
			{{/if}}
		{{/ifTemplate}}

		{{#ifTemplate "docs"}}
			{{#if parameters}}
				{{> partial.parameters}}
			{{/if}}

			{{#if description}}
				{{{description}}}
			{{/if}}
		{{/ifTemplate}}

		{{#ifTemplate "colors"}}
			{{#if parameters}}
				{{> partial.colors}}
			{{/if}}
		{{/ifTemplate}}
	</div>
</section>

{{#ifTemplate "example"}}
	{{> partial.section_modifiers}}

	{{#if markup}}
		{{> partial.section_markup}}
	{{/if}}
{{/ifTemplate}}
