{{#if modifiers.modifier}}
	{{#each modifiers.modifier}}
		<div class="section section--sub">
			<div class="section-aside">
				<h4 class="section-title section-title--sub">
					<span>.{{value}}</span>
					{{{description}}}
				</h4>

				<div class="section-description">
					{{> partial.icons url=(url reference)}}
				</div>
			</div>

			<div class="section-content">
				{{> partial.iframe
					src=(url reference)
					transparent=../custom.transparent
					height=../custom.iframeheight
					padding=../custom.iframepadding
				}}
			</div>
		</div>
	{{/each}}
{{else}}
	{{#each modifiers}}
		{{#each this}}
			<div class="section section--sub">
				<div class="section-aside">
					<h4 class="section-title section-title--sub">
						<span>{{@../key}}</span>
						{{{value}}}
					</h4>

					<div class="section-description">
						{{> partial.icons url=(url reference)}}
					</div>
				</div>

				<div class="section-content">
					{{> partial.iframe
						src=(url reference)
						transparent=../../custom.transparent
						height=../../custom.iframeheight
						padding=../../custom.iframepadding
					}}
				</div>
			</div>
		{{/each}}
	{{/each}}
{{/if}}
